body {
    background-color: grey;
    width: 100%;
    p {
        cursor: pointer;
    }
    div#content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3px;
        width: 100%;
        img {
            margin: 10px;
            width: auto;
            height: auto;
           // transition: transform 1s ease-in-out;
           transform-origin: 0% 100%;
            &.active {
               // border: 3px solid red;
               animation: slide 2s ease-in-out forwards;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: rotateX(0); 
    }
    50% {
        transform: rotateX(-180deg) translateY(0);
    }
    70% {
        transform: rotateX(-180deg) translateY(-100%);
    }
    100% {
        transform: rotateX(-180deg) translateY(-100%);
    }
}