@import 'animations/animation1';
@import 'animations/animation2';
@import 'animations/animation3';
$gold: rgb(176, 128, 24);
$grey: rgb(51, 51, 51);
:root {
    --video-width: 960px;
    --video-height: 540px;
    --image-width: calc(var(--video-width) / 7);
    --image-height: calc(var(--video-height) / 4);
    @media (max-width: 720px) {
        --video-width: 480px;
        --video-height: 270px;
    }
}

html {
    width: 100%;
    align-self: center;
    display: block;
    margin: auto;
    left: 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: $grey;
    box-sizing: border-box;
    overflow-x: hidden;
    body {
        width: 100%;
        left: 0;
        height: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-self: center;
        background-color: $grey;
        border: 5px solid $gold;
        box-sizing: border-box;
        align-self: center;
        text-align: center;
        margin: auto;
        overflow-x: hidden;
        main {
            display: flex;
            width: 100%;
            position: relative;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            box-sizing: border-box;
            background-color: $grey;
            overflow: hidden;
            #logo {
                display: flex;
                position: relative;
                justify-content: center;
                width: 100%;
                height: 100px;
                z-index: 2;
                &>img {
                    display: block;
                    position: relative;
                    width: 50%;
                    height: 50%;
                    z-index: 2;
                    object-fit: fill;
                    margin: auto;
                }
            }
            article#videoAndPhotos {
                display: flex;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: var(--video-width);
                height: var(--video-height);
                margin: auto;
                border-top: 5px solid $gold;
                div#photos {
                    display: flex;
                    box-sizing: border-box;
                    position: relative;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    z-index: 1;
                    margin: 0;
                    >div.frame {
                        margin: 0;
                        box-sizing: border-box;
                        display: block;
                        position: relative;
                        width: var(--image-width);
                        height: var(--image-height);
                        background-color: transparent;
                    }
                    img {
                        display: block;
                        object-fit: cover;
                        position: absolute;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        &:hover {
                            border: 3px solid $gold;
                            box-shadow: 1px 1px 10px 1px $gold;
                            z-index: 2;
                        }
                        &:active {
                            transform: scale(0.99);
                        }
                    }
                }
            }
            #video {
                position: absolute;
                display: flex;
                box-sizing: border-box;
                width: 100%;
                z-index: 0;
            }
        }
    }
}

